<% provide(:title, "Home") %>

<div class="row">
  <div class="col-md-3">
    <!--<div id="tree"></div>-->
    <ul class="metismenu" id="menu">
      <li class="active">
        <a href="#" >Menu 1<span class="glyphicon arrow"></span></a>
        <ul aria-expanded="true">
          ...
        </ul>
      </li>
      <li>
        <a href="#" aria-expanded="false">Menu 2</a>
        <ul aria-expanded="false">

        </ul>
      </li>

    </ul>
  </div>
  <div class="col-md-9" id="content">

  </div>
</div>


<%= link_to "New", {controller: :lessons, action: 'get_content', id: 1}, class: 'btn btn-default', remote: true %>
