<% provide(:title, "Home") %>
<div class="center jumbotron">
  <div class="row">
    <div class="col-md-3">
      <div id="tree"></div>
    </div>
    <div class="col-md-10">
    </div>
  </div>

</div>

<%= link_to image_tag("tri.jpg", alt: "Tri's logo"), "#" %>