<li id="lesson-<%= lesson.id %>">
  <span class="content"><%= link_to lesson.name, controller: "lessons", action: "show", id: lesson %></span>
  <span class="timestamp">
    Uploaded <%= time_ago_in_words(lesson.created_at) %> ago.
  </span>
</li>