<div class="col-md-4 portfolio-item lessons" id="lesson-<%= lesson.id %>">
  <span class="lesson-image"> <%= link_to image_tag("elearning_untitled.jpg", alt: "Tri's logo", class: "img-responsive"), controller: "lessons", action: "show", id: lesson %></span>
  <!--<span class="timestamp">-->
    <!--Uploaded <%= time_ago_in_words(lesson.created_at) %> ago.-->
  <!--</span>-->
  <span class="lesson-name">
    <%= lesson.name %>
  </span>
</div>