<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        Kết quả tìm kiếm
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @lessons.any? %>
        <h3>Bài giảng (<%= @lessons.count %>)</h3>
        <div class="row" id="lessons-content">
          <%= render partial:'lessons/lesson', locals: {lessons: @lessons} %>
        </div>
    <% end %>
  </div>
</div>