<footer class="footer">
  <small>
      CÔNG TY TNHH GIẢI PHÁP CÔNG NGHỆ AN PHÁT<br>
      Địa chỉ:    1306, C4, Nguyễn Cơ Thạch, Nam Từ Liêm, Hà Nội<br>
      Điện thoại: 0466.572.777<br>
      Fax:        0466.572.777<br>
      Website:    <a href="http://apts.vn">http://apts.vn</a><br>
      Email:      anphat.ts@gmail.com<br>
  </small>
  <nav>
    <ul>
      <li>Website apelearning.vn</li>
    </ul>
  </nav>
</footer>